.banner {
    background-image: url(../img/img/pattern.png);
    background-size: 20%;
    background-position: left;
    height: 150px;
    background-color: aquamarine;
}

header img {
    color: white;
    height: 50px;
}